---js
const eleventyNavigation = {
	key: "Home",
	order: 1
};

const numberOfLatestPostsToShow = 3;
---
{# Introduction #}
Hi! I'm Joe Mackle, a software developer currently interning at <a href="https://esri.com">Esri</a>.
Here you'll find some projects I've worked on and other creative ramblings.

{# Portfolio #}
<h1>projects</h1>

{%- css %}{% include "public/css/project-card.css" %}{% endcss %}
<div class="projects-grid">
	{% for project in collections.projects %}
		<a href="{{ project.url }}" class="project-card" style="background-image: url('{{ project.data.image }}')">
			<div class="project-overlay">
				<h2>{{ project.data.title }}</h2>
				<p>{{ project.data.description }}</p>
			</div>
		</a>
	{% endfor %}
</div>

{# Latest blog posts #}
{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h1>latest blog post{% if latestPostsCount != 1 %}s{% endif %}</h1>

{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
<p>{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found in my <a href="blog.njk">blog</a>.</p>
{% endif %}

{# List every content page in the project #}
{#
<ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul>
#}
